<article class="bike-route">
    <div class="bike-route-title">
        <h4>{{this.name}}</h4>
        {{#if this.ridden}}
        <span class="{{this.ridden}}"><img src="/images/checkmark.svg" alt="Checkmark for route ridden"
                title="Route Has Been Ridden"></span>
        {{/if}}
    </div>

    <div class="bike-route-col1">
        <div class="bike-route-table">
            <table>
                <tr>
                    <td>Mileage</td>
                    <td>{{format_miles this.mileage}}</td>
                </tr>
                <tr>
                    <td>Total Elevation</td>
                    <td>{{format_thousands this.elevation}}'</td>
                </tr>
                <tr>
                    <td>Difficulty</td>
                    <td>{{this.difficulty}}</td>
                </tr>
                <tr>
                    <td>Strava</td>
                    <td><a href="https://www.strava.com/segments/{{this.id}}" target="_blank">Strava Segment</a></td>
                </tr>
                <tr>
                    <td>Veloviewer</td>
                    <td><a href="https://veloviewer.com/segments/{{this.id}}" target="_blank">Veloviewer Segment</a></td>
                </tr>
            </table>
        </div>

        <div class="bike-route-description">
            <div class="description-content collapsed">
                <p>{{this.description}}</p>
            </div>
        </div>
    </div>

    <div class="bike-route-map">
        <iframe class="segment-map" data-segment-id="{{this.id}}"
            src="https://veloviewer.com/segments/{{this.id}}/embed?units=i" width="100%" height="500px" frameborder="0"
            scrolling="no" loading="lazy" fetchpriority="high">
        </iframe>
    </div>

</article>