<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Google tag (gtag.js) -->

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/favicon.png">

</head>

<body>
    
    <header>
        <nav>
            <div class="logo-div">
                <a href="/"> <img class="logo" src="/images/RAClogo_white.svg" /></a>
            </div>
            <ul class="menu">

                {{!-- Adventure Series menu --}}
                <li class="item has-submenu">
                    <a tabindex="0">ADVENTURE SERIES</a>
                    <ul class="submenu">
                        <li class="subitem first-item">
                            <a href=" /about">ABOUT</a>
                        </li>
                        <li class="subitem">
                            <a href=" /guidelines">GUIDELINES</a>
                        </li>
                        <li class="subitem">
                            <a href=" /sponsors">SPONSORS</a>
                        </li>
                        <li class="subitem">
                            <a href="/bikeroutes">BIKE ROUTES</a>
                        </li>
                        <li class="subitem">
                            <a href="/leaderboard">LEADERBOARD</a>
                        </li>
                    </ul>
                </li>

                {{!-- Community menu --}}
                <li class="item has-submenu">
                    <a tabindex="3">COMMUNITY</a>
                    <ul class="submenu">
                        <li class="item"> <a href="/ncbr">NCBR</a></li>
                        <li class="item"><a href="/mbtta">MBTTA</a></li>
                    </ul>
                </li>

                {{!-- Authenticated user menu --}}
                {{#if user}}
                <li class="item has-submenu">
                    <a class="menu-avatar-div" tabindex="1">
                        <div class="avatar-container">
                            <img class="menu-avatar" src={{user.profile_medium}} alt="Avatar" />
                            <img class="menu-avatar-svg" src="/images/RAClogo_white.svg" />
                        </div>
                        {{uppercase user.firstname}}
                    </a>
                    <ul class="submenu">
                        <li class="item"><a href="/dashboard">DASHBOARD</a></li>
                        {{!-- Need id logout to run logout script --}}
                        <li class="item" id="logout"><a href="/logout">LOG OUT</a></li>
                        {{#if user.isAdmin}}
                        <li class="item"> <a href="/admin/approvals">APPROVALS</a></li>
                        <li class="item"> <a href="/admin/route-utils">ROUTE UTILS</a></li>
                        {{/if}}
                    </ul>
                </li>

                {{!-- Login menu --}}
                {{else}}
                <li class="item"><a href="/login">LOG IN</a></li>
                {{/if}}

            </ul>
            <span class="toggle"><a href="#"><i class="fas fa-bars"></i></a></span>
        </nav>
    </header>
    <!-- End Header -->

    <!-- Hero -->
    <div class="hero">
        <div id="site-logo" class="center">
            <img src="/images/RAClogo_circletext.svg" />
        </div>
    </div>
    <!-- End Hero -->

    <!-- Main Section -->
    <main>
        {{{ body }}}
        <img src="/images/arrow-up-icon.svg" alt="Arrow Up Icon" id="goToTop" onclick="topFunction()">
    </main>
    <!-- End Main -->

    <footer>
        <div>
            <a href="https://ridewithgps.com/users/5525439" target="_blank"><img src="/images/ridewithgps_black.svg"
                    alt="Instagram Logo"></a>
            <a href="https://www.strava.com/clubs/redwoodadventurecycling" target="_blank"><img
                    src="/images/strava_black_logo.svg" alt="Strava Logo"></a>
            <a href="https://www.instagram.com/redwoodadventurecycling/" target="_blank"><img
                    src="/images/insta_logo_black.svg" alt="Instagram Logo"></a>
        </div>
    </footer>

    <script src="/javascript/nav.js"></script>
    <script src="/javascript/gototop.js"></script>
    {{#if user}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-90ZJ0G588M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-90ZJ0G588M');
    </script>
</body>

</html>