

<section>
    <h3 class="completed">Admin Approvals</h3>
    {{#if userRoutes.userRoutes.length}}
    <form class="approve-form">
        {{#each userRoutes.userRoutes as |userRoutes|}}
        <div class="grid-container">
            <div class="item1">
                <h4>{{userRoutes.route.name}}</h4>
            </div>
            
            <div class="item2">
                <ul>
                    <li><span class="bold">Rider Name</span>: {{user.displayName}}</li>
                    <li><span class="bold">Date Completed</span>: {{userRoutes.date_completed}}</li>
                    <li><span class="bold">Ride time</span>: {{userRoutes.ride_time}}</li>
                    <li><span class="bold">Strava Link</span>: <a href="{{userRoutes.ride_link}}" target="_blank">Activity</a> </li>
                </ul>
                
                <div class="checkbox">
                    <label for="user_routes-approved-{{userRoutes.id}}">Approve&nbsp;&nbsp;  
                    <input type="checkbox" id="user_routes-approved-{{userRoutes.id}}" name="user_routes-approved" value="{{userRoutes.id}}">
                   </label>
                </div>
            </div>
            <div class="item3">user_routes.photo
            </div>
            
        </div>
        {{/each}}
        <br>
        <button type="submit">Approve!</button>
    </form>
    
    {{!-- If all rides have been approved show --}}
    {{else}}
    All user submissions are up to date!
    {{/if}}
</section>
<script src="/javascript/admin.js"></script>