<h2>Admin Approvals</h2>
<section>

    {{#if userRoutes.userRoutes.length}}
    <form class="approve-form">
        {{!-- Route Approval Table --}}
        <div>
            <table class="leaderboard">
                <tr>
                    <th>Rider Name</th>
                    <th>Bike Route</th>
                    <th>Date Completed/ Submitted</th>
                    <th>Time</th>
                    <th>Strava</th>
                    <th>Approved</th>
                </tr>
                {{#each userRoutes.userRoutes as |userRoutes|}}
                <tr>
                    <td>{{userRoutes.user.name}}</td>
                    <td>{{userRoutes.route.name}}</td>
                    <td>{{format_month_day userRoutes.date_completed}}<br>
                        {{format_month_day_time userRoutes.date_submitted}}</td>
                    <td>{{format_time userRoutes.ride_time}}</td>
                    <td><a href="{{userRoutes.ride_link}}" target="_blank">Activity</a></td>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" id="user_routes-approved-{{userRoutes.id}}"
                                name="user_routes-approved" value="{{userRoutes.id}}">
                            </label>
                        </div>
                    </td>
                </tr>

                {{/each}}
            </table>
        </div>
        <button type="submit">Approve</button>
    </form>

    {{!-- If all rides have been approved show --}}
    {{else}}
    All user submissions are up to date!
    {{/if}}
</section>
<script src="/javascript/approval.js"></script>