<h2>Bike Routes</h2>
<div id="route-card-container">
    <div class="route-card">
        <div class="route-map-div">{{ map }}</div>
        <h3>{{ name }}</h3>
        <p><span>Difficulty: </span>{{ difficulty }}</p>
        <p><span>Route Mileage: </span>{{ mileage }}</p>
        <p><span>Route Elevation: </span>{{ elevation }}</p>
        <p><span>Points: </span>{{ points }}</p>
        <p><span>First Bonus: </span>{{ first_bonus }} points</p>
    </div>
</div>