
    <h2>Bike Routes 2023</h2>
        
            <h3>COMING IN JANUARY!</h3>
        
        {{#if routes}}
        {{#each routes}}
        <article class="bike-route">
                
                <div class="bike-route-title">
                    <h4>{{this.name}}</h4>
                </div>
                    <!--Data-->
                <div class="bike-route-table">
                    {{!-- <div class="bike-route-table"> --}}
                    <div>
                        <table>
                            <tr>
                                <td>Mileage</td><td>{{this.mileage}}</td>
                            </tr>
                            <tr>
                                <td>Points</td><td>{{this.points}}</td>
                            </tr>
                            <tr>
                                <td>Total Elevation</td><td>{{format_thousands this.elevation}}'</td>
                            </tr>
                            <tr>
                                <td>Difficulty</td><td>{{this.difficulty}}</td>
                            </tr>
                            <tr>
                                <td>Route Link</td><td><a href="https://ridewithgps.com/routes/{{this.id}}" target="_blank">Route</a></td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="route-description">
                        <p>{{this.description}}</p>  
                    </div>

                </div>

                <div class="bike-route-image">
                    <img class="routes-image" src="https://ridewithgps.com/routes/full/{{this.id}}.png" alt="Map of {{this.name}} Route" />
                    
                    {{!-- If I decide to use embeded interactive maps this is an example. --}}
                    {{!-- <iframe src="https://ridewithgps.com/embeds?type=route&id=41552569" style="width: 1px; min-width: 100%; height: 100%; border: none;" scrolling="no"></iframe> --}}
                </div>
                
                {{!-- Possibly put profile image here at some point --}}


        </article>
        {{/each}}
        {{/if}}
