<section>
    <h2 class="routes-header">Bike Routes</h2>
    <div class="routes-container">

        {{#each routes}}
        <div class="grid-container">
            <div class="item2">
                <h4>{{this.name}}</h4>
                <br>
                <!--Data-->
                <div class="grid-container-completed">
                    <div class="bike-data">Mileage:</div>
                    <div class="bike-data"> {{this.mileage}}</div>
                    <div class="bike-data">Points:</div>
                    <div class="bike-data"> {{this.points}}</div>
                    <div class="bike-data">First bonus:</div>
                    <div class="bike-data"> {{this.first_bonus}}</div>
                    <div class="bike-data">Difficulty:</div>
                    <div class="bike-data">{{this.difficulty}}</div>
                    <div class="bike-data">Route Link:</div>
                    <div class="bike-data"><a href="https://www.strava.com/routes/{{this.id}}" target="_blank">Route</a>
                    </div>
                </div>
            </div>
            <div class="item3">
                <img class="routes-image" src="/images/{{this.map}}" alt="{{this.name}}" />
            </div>
            <div class="item4">
                <br>
                <p>{{this.note}}</p>
            </div>
        </div><br><br>
        {{/each}}
</section>