<section>
    <h2 class="completed">Bike Routes</h2>


    {{#each routes}}
    <div class="grid-container">
        <div class="item1">
            <h3>{{this.name}}</h3>
        </div>
        <div class="item2">
            <p><b>Mileage:</b> {{this.mileage}} </p>
            <p><b>Elevation:</b> {{this.elevation}}</p>
            <p><b>Points:</b> {{this.points}}</p>
            <p><b>First bonus:</b>{{this.first_bonus}} </p>
            <p><b>Difficulty:</b> {{this.difficulty}}</p>
        </div>
        <div class="item3">
            <img src="/images/{{this.map}}" />
        </div>
        <div class="item4">
            <p>{{this.note}}</p>
        </div>
    </div><br><br>
    {{/each}}
</section>