<section>
    <h2 class="completed">Bike Routes</h2>


{{#each routes as |route|}}
    <div class="grid-container">
        <div class="item1">
            <h3>{{route.name}}</h3>
        </div>
        <div class="item2">
            <p><b>Mileage:</b> {{route.mileage}} </p>
            <p><b>Elevation:</b> {{route.elevation}}</p>
            <p><b>Points:</b> {{route.points}}</p>
            <p><b>First bonus:</b>{{route.first_bonus}} </p>
            <p><b>Difficulty:</b> {{route.difficulty}}</p>
        </div>
        <div class="item3">
            {{!-- <a href="/images/{{routes.map}}" width="300" /> --}}
        </div>
        <div class="item4">

            <p><b>Description:</b> {{route.note}}</p>

        </div>
    </div>
{{/each}}
</section>
