<section>
    <h2>Dashboard</h2>
    
    <div class="form-container">
       
        <div class="grid-container">
            <div class="item1">
                <h3>Submit Your Ride</h3>
            </div>
            <div class="item4">
                <form class="route-form">
                    <div>
                        <label for="route-name">Choose a route: </label>
                        <select name="route-name" id="route-name">
                            <option value=""></option>
                            {{#each routes.routes as |routes|}}
                            <option value="{{routes.id}}">{{routes.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div>
                        <label for="route-date">Date Completed:</label>
                        {{!-- Set the min and max for Series Dates --}}
                        <input type="date" min="today" max="2023-11-30" id="route-date">
                    </div>
                    <div>
                        <label for="ride-time">Ride Time: HH:MM</label>
                        <input type="text" class="html-duration-picker" id="ride-time" value="00:00">
                    </div>

                    <div>
                        <label for="ride-link">Link to Strava activity:</label>
                        <input type="text" id="ride-link" />
                    </div>
                    {{!-- <div>
                        <label for="route-photo">Photo:</label>
                    </div>
                    <div class="input-group  px-2 py-2  bg-white ">
                        <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                        <div class="input-group-append">
                            <label for="upload" class="btn btn-light m-0 pill px-4"> <i
                                    class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                    class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                        </div>
                    </div>
                    <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                            class="img-fluid rounded shadow-sm mx-auto d-block"> </div> --}}
                    <div style="text-align:center; padding-top: 15px">
                        <button type="submit">Submit Ride</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
</section>
{{!-- User Completed Routes Section --}}
<section>
    {{#if userRoutes.userRoutes }}
    <div class="routes-container">
        <h3 class="completed" align="center">Completed Routes</h3><br>
        {{#each userRoutes.userRoutes as |userRoutes|}}
        <div class="grid-container">
            <div class="item2">
                <h4>{{userRoutes.route.name}}</h4>
                <div class="grid-container-completed">
                    <div class="completed-data">Date Completed:</div>
                    <div class="completed-data"> {{userRoutes.date_completed}}</div>
                    <div class="completed-data">Ride time:</div>
                    <div class="completed-data"> {{userRoutes.ride_time}}</div>
                    <div class="completed-data">Points:</div>
                    <div class="completed-data">{{userRoutes.route.points}}</div>
                    <div class="completed-data">Approved:</div>
                    <div class="completed-data">{{#if userRoutes.approved }}
                        Yes
                        {{else}}
                        No
                        {{/if}}</div>
                </div>
            </div>
            <div class="item3">
                <img class="routes-image" src="https://ridewithgps.com/routes/full/{{userRoutes.route.id}}.png" alt="Map of {{userRoutes.route.name}}" />
            </div>
        </div>
        <br><br>
        {{/each}}
        {{/if}}
</section>

{{!-- <script>
    $('.bs-timepicker').timepicker({ defaultTime: 'value' });
</script> --}}
{{!-- Don't seem to need the date script --}}
{{!-- <script src="/javascript/date.js"></script> --}}
<script src="/javascript/routesubmit.js"></script>