    <h2>Dashboard</h2>
    
<section>
    <div class="form-container">
    
        <div class="grid-container">
            <div>
                <h4>Submit Your Ride</h4>
            </div>
            <div>
                <form class="route-form" enctype="multipart/form-data">
                    <div>
                        <label for="route-name">CHOOSE A ROUTE </label>
                        <select required name="route-name" id="route-name">
                            <option value="" disabled selected>Routes...</option>
                            {{#each routes.routes as |routes|}}
                            <option value="{{routes.id}}">{{routes.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div>
                        <label for="route-date">DATE COMPLETED</label>
                        {{!-- Set the min and max for Series Dates --}}
                        <input type="date" min="today" max="2023-11-30" id="route-date" required>
                    </div>
                    <div>
                        <label for="ride-time">RIDE TIME: HH:MM</label>
                        <input type="text" class="html-duration-picker" id="ride-time" placeholder="00:00" pattern="^\d{1,2}:\d{2}$" required>
                    </div>

                    <div>
                        <label for="ride-link">STRAVA ACTIVITY LINK</label>
                        <input type="text" id="ride-link" placeholder="www.strava.com/activities/# or strava.app.link/#" pattern="(www.|http://www.|https://www.)(strava.com/activities/)\d{10}|(https://strava.app.link/)\w{5,15}" required>
                    </div>

                    <div>
                        <label for="route-photo">PHOTO</label>
                        <input type="file" id="route-photo" name="route-photo" placeholder="Submit Ride Photo" accept=".jpg, .jpeg, .png, .webp">
                    </div>
                        
                    <div class="center">
                        <button type="submit">SUBMIT RIDE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<hr>
{{!-- User Completed Routes Section --}}
<section>
    {{#if userRoutes.userRoutes }}
    <h2>Completed Routes</h2>
    
    {{#each userRoutes.userRoutes as |userRoutes|}}
    <article class="bike-route">
    
        <div class="bike-route-title">
            <h4 class="bike-route-title">{{userRoutes.route.name}}</h4>    
        </div>
    
        <div class="bike-route-col1">
            <div class="bike-route-table">
                <table>
                    <tr>
                        <td>Date Completed</td><td>{{format_month_day userRoutes.date_completed}}</td>
                    </tr>
                    <tr>
                        <td>Ride Time</td><td> {{format_time userRoutes.ride_time}}</td>
                    </tr>
                    <tr>
                        <td>Points</td><td>{{userRoutes.route.points}}</td>
                    </tr>
                    <tr>
                        <td>Bonus Points</td><td>{{userRoutes.bonus_points}}</td>
                    </tr>
                    <tr>
                        <td>Approved</td>
                        <td>
                            {{#if userRoutes.approved }}
                            Yes
                            {{else}}
                            No
                            {{/if}}
                        </td>
                    </tr>
                </table>
            </div>
        </div> 
            <div class="bike-route-map-completed">
                {{#if userRoutes.photo}}
                <img class="route-map" src="/photos/2023/{{userRoutes.photo}}" alt="Photo from {{userRoutes.route.name}}" />
                {{else}}
                <img class="route-map" src="https://ridewithgps.com/routes/full/{{userRoutes.route.id}}.png" alt="Map of {{userRoutes.route.name}}" />
                {{/if}}
            </div>
    </article>    
    {{/each}}
    {{/if}}
    
</section>

{{!-- Don't seem to need the date script --}}
{{!-- <script src="/javascript/date.js"></script> --}}
<script src="/javascript/routesubmit.js"></script>