<h2>2023 Leaderboard</h2>

{{!-- if points exist display leader table --}}

<article>
    {{!-- leaderboard gender filter --}}
    Add Filter
    <select id="gender-filter" name="gender-filter">
        <option value="" disabled selected>Filter</option>
        <option value="">Overall</option>
        <option value="F">W/T/F</option>
        <option value="M">Male</option>
    </select>
    <span id="filter">{{gender}}</span>

    {{#if userPoints.userPoints}}
    <table class="leaderboard">
        <tr>
            <th>Rider Name</th>
            <th>Elevation</th>
            <th>Miles</th>
            <th>Routes</th>
            <th>Points</th>
        </tr>
        {{#each userPoints.userPoints as |userPoints|}}
        <tr>
            <td>{{userPoints.user.name}}</td>
            <td>{{format_thousands userPoints.total_elevation}}</td>
            <td>{{format_miles userPoints.total_miles}}</td>
            <td>{{userPoints.total_routes}}</td>
            <td class="points">{{userPoints.total_total_points}}</td>
        </tr>
        {{/each}}
    </table>
</article>
{{/if}}

<script src="/javascript/genderfilter.js"></script>