
    <h2>2023 Leaderboard<br>
        {{!-- <img class="reg-image" src="/images/big_hill.jpg" alt="Biking up a long hill." /> --}}
    </h2>


{{!-- if points exist display leader table --}}
{{#if userPoints.userPoints}}
<article>
    <table class="leaderboard">
        <tr>
            <th>Rider Name</th>
            <th>Elevation</th>
            <th>Miles</th>
            <th>Routes</th>
            <th>Points</th>
        </tr>
        {{#each userPoints.userPoints as |userPoints|}}
        <tr>
            <td>{{userPoints.user.name}}</td>
            <td>{{format_thousands userPoints.total_elevation}}</td>
            <td>{{format_miles userPoints.total_miles}}</td>
            <td>{{userPoints.total_routes}}</td>
            <td class="points">{{userPoints.total_points}}</td>
        </tr>
        {{/each}}
    </table>
</article>
{{/if}}