
<article>
    <h2>2021 Leaderboard</h2>
    <div class="leader-buttons">
        <button id="overall">Overall</button>
        <button id="female">Female</button>
        <button id="male">Male</button>
    </div>
    <table class="leaderboard">
        <tr>
            <th>Rider Name</th>
            <th>Elevation</th>
            <th>Miles</th>
            <th>Routes</th>
            <th>Points</th>
        </tr>
        {{#each userPoints.userPoints as |userPoints|}}
        <tr data-gender="{{userPoints.user.sex}}">
            <td>{{userPoints.user.name}}</td>
            <td>{{format_thousands userPoints.total_elevation}}</td>
            <td>{{format_miles userPoints.total_miles}}</td>
            <td>{{userPoints.total_routes}}</td>
            <td class="points">{{userPoints.total_points}}</td>
        </tr>
        {{/each}}
    </table>
</article>

<script src="/javascript/leaderboard.js"></script>