<h2>2024 Leaderboard</h2>

{{!-- Do not show tables if no routes have been submitted --}}
{{#if userRoutes.userRoutes}}
{{!-- Overall Points Table --}}
<article>
    <h4>Overall Points</h4>
    
    {{!-- leaderboard gender filter --}}
    <select id="gender-filter" name="gender-filter">
        <option value="" disabled selected>Gender Filter</option>
        <option value="">Overall</option>
        <option value="F">W/T/F</option>
        <option value="M">Male</option>
    </select>
    <span id="filter">{{gender}}</span>

    <table class="leaderboard">
        <tr>
            <th>#</th>
            <th>Rider Name</th>
            <th>Elevation</th>
            <th>Miles</th>
            <th>Routes</th>
            <th>Points</th>
        </tr>
        
        {{#each userPoints.userPoints as |userPoints|}}
        <tr>
            <td>{{add1 @index}}</td>
            <td>{{userPoints.user.name}}</td>
            <td>{{format_thousands userPoints.total_elevation}}</td>
            <td>{{format_miles userPoints.total_miles}}</td>
            <td>{{userPoints.total_routes}}</td>
            <td class="points">{{userPoints.total_points}}</td>
        </tr>
        {{/each}}
    </table>
</article>

<hr>

{{!-- Route Bonus Points Table --}}
<article>
    <h4>Route Bonus (Attacker) Points</h4>
    If route not shown all bonus points available.
    <table class="leaderboard">
        <tr>
            <th>#</th>
            <th>Rider Name</th>
            <th>CAT</th>
            <th>Bonus</th>
        </tr>
        {{#each attackerPoints.attackerPoints as | attackerPoints |}}
        <tr>
            <td class="route-title" colspan="4">{{attackerPoints.name}}</td>
        </tr>
        {{#each attackerPoints.user_routes as | attackerRoutes |}}
        <tr>
            <td>{{add1 @index}}</td>
            <td>{{attackerRoutes.user.name}}</td>
            <td>{{attackerRoutes.user.gender}}</td>
            <td class="points">{{attackerRoutes.bonus_points}}</td>
        </tr>
        {{/each}}
        {{/each}}
    </table>
</article>

<hr>

{{!-- Submitted Routes Table --}}
<article>
    <h4>Submitted Routes</h4>

    <table class="leaderboard">
        <tr>
            <th>#</th>
            <th>Rider Name</th>
            <th>Route</th>
            <th>Photo</th>
            <th>Submitted</th>
        </tr>

        {{#each userRoutes.userRoutes as | userRoutes | }}
        <tr>
            <td>{{add1 @index}}</td>
            <td>{{userRoutes.user.name}}</td>
            <td>{{userRoutes.route.name}}</td>
            <td>
                {{#if userRoutes.photo}}
                <a href="/photos/{{../year}}/{{userRoutes.photo}}">Photo</a>
                {{else}}
                No Photo
                {{/if}}
            </td>
            <td>{{format_month_day_time userRoutes.date_submitted}}</td>
        </tr>
        {{/each}}
    </table>
</article>
{{/if}}
{{!-- end if statement to clear all data if no submitted routes exist --}}
<script src="/javascript/leaderboardFilter.js"></script>