<h2>{{year}} Leaderboard</h2>

{{!-- Do not show tables if no routes have been submitted --}}
{{#if userRoutes.userRoutes}}

<select id="gender-filter" name="gender-filter">
    <option value="" disabled selected>Gender Filter</option>
    <option value="">Overall</option>
    <option value="F">W/T/F</option>
    <option value="M">Male</option>
</select>
<span id="filter">{{gender}}</span>

{{!-- Overall Points Table --}}
{{!-- Use different table partial for different years --}}
{{#if (or (eq year 2023) (eq year 2024))}}
    {{>overallPoints_routes}}
{{else}}
    {{>overallPoints_segments}}
{{/if}}
<hr>

{{!-- Route Bonus Points Table --}}
<article>
    <h4>Route Bonus (Attacker) Points</h4>
    If route not shown all bonus points available.
    <table class="leaderboard">
        <tr>
            <th>#</th>
            <th>Rider Name</th>
            <th>CAT</th>
            <th>Bonus</th>
        </tr>
        {{#each attackerPoints.attackerPoints as | attackerPoints |}}
        <tr>
            <td class="route-title" colspan="4">{{attackerPoints.name}}</td>
        </tr>
        {{#each attackerPoints.user_routes as | attackerRoutes |}}
        <tr>
            <td>{{add1 @index}}</td>
            <td>{{attackerRoutes.user.name}}</td>
            <td>{{attackerRoutes.user.gender}}</td>
            <td class="points">{{attackerRoutes.bonus_points}}</td>
        </tr>
        {{/each}}
        {{/each}}
    </table>
</article>

<hr>

{{!-- Submitted Rides Table --}}
<article>
    <h4>Submitted Rides</h4>

    <table class="leaderboard">
        <tr>
            <th>#</th>
            <th>Rider Name</th>
            <th>Route/Segment</th>
            <th>Photo</th>
            <th>Submitted</th>
        </tr>

        {{#each userRoutes.userRoutes as | userRoutes | }}
        <tr>
            <td>{{add1 @index}}</td>
            <td>{{userRoutes.user.name}}</td>
            <td><a href="{{userRoutes.ride_link}}" target="_blank">{{userRoutes.route.name}}</a></td>
            <td>
                {{#if userRoutes.photo}}
                <a href="/photos/{{../year}}/{{userRoutes.photo}}">Photo</a>
                {{else}}
                No Photo
                {{/if}}
            </td>
            <td>{{format_month_day_time userRoutes.date_submitted}}</td>
        </tr>
        {{/each}}
    </table>
</article>
{{/if}}
{{!-- end if statement to clear all data if no submitted routes exist --}}
<script src="/javascript/leaderboardFilter.js"></script>